In [2]:
import pandas as pd
import datetime as dt

## Main Sales Report Table

In [ ]:
data = pd.read_csv('Amazon Sale Report.csv')
df = data.copy()
df.head()

In [ ]:
df.columns.values

In [ ]:
df = df.drop(columns='Unnamed: 22')
df.head()

In [ ]:
type(df['Date'][0])

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], format = '%m-%d-%y')

In [ ]:
type(df['Date'][0])

In [ ]:
cols = ['index', 'Order ID', 'Date', 'Status', 'Fulfilment',
       'Sales Channel', 'ship-service-level', 'Style', 'SKU', 'Category',
       'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount',
       'ship-city', 'ship-state', 'ship-postal-code', 'ship-country',
       'promotion-ids', 'B2B', 'fulfilled-by']

df.columns = cols

In [ ]:
df.columns.values

In [ ]:
df.dtypes

In [ ]:
cols = ['index', 'order_id', 'date', 'status', 'fulfilment',
       'sales_channel', 'ship_service_level', 'style', 'sku', 'category',
       'size', 'asin', 'courier_status', 'qty', 'currency', 'amount',
       'ship_city', 'ship_state', 'ship_postal_code', 'ship_country',
       'promotion_ids', 'b2b', 'fulfilled_by']

In [ ]:
df.columns = cols
df.head()

In [ ]:
df.info()

In [ ]:
from sqlalchemy import create_engine

In [ ]:
username = 'root'
password = 'generic'
host = 'localhost'         # or the {{c1::IP address}}
port = unknown                # default MySQL {{c1::port}}
database = 'ecommerce'  # your {{c1::DB name}}

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

In [ ]:
df.to_sql('sales_report', con=engine, if_exists='replace', index=False)

## SKU Code Table (item stock)

In [ ]:
data2 = pd.read_csv('Sale Report.csv')
sr = data2.copy()
sr.head()

In [ ]:
sr.info()

In [ ]:
sr.columns.values

In [ ]:
sr_cols = ['index', 'sku_code', 'design_no', 'stock', 'category', 'size',
       'color']
sr.columns = sr_cols
sr.head()

In [ ]:
sr.to_sql('item_stock', con=engine, if_exists='replace', index=False)

## International Sales Report

In [153]:
int_sales_raw = pd.read_csv('International sale Report.csv')
isr = int_sales_raw.copy()
isr.head()

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
0,0.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.0,616.56,617.0
1,1.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.0,616.56,617.0
2,2.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.0,616.56,617.0
3,3.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.0,616.56,617.0
4,4.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.0,616.56,617.0

In [154]:
isr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      18635 non-null  float64
 1   DATE       18635 non-null  object
 2   Months     18635 non-null  object
 3   CUSTOMER   18635 non-null  object
 4   Style      18635 non-null  object
 5   SKU        17218 non-null  object
 6   Size       18635 non-null  object
 7   PCS        18635 non-null  float64
 8   RATE       18635 non-null  float64
 9   GROSS AMT  18635 non-null  float64
dtypes: float64(4), object(6)
memory usage: 2.9+ MB

#### Notes

SKU has a lot of nulls, everything else intact. Only option is to copy the Style into SKU.

In [155]:
print(isr.index)

RangeIndex(start=0, stop=37432, step=1)

In [156]:
isr.reset_index(drop=True)

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
0,0.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.0,616.56,617.0
1,1.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.0,616.56,617.0
2,2.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.0,616.56,617.0
3,3.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.0,616.56,617.0
4,4.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.0,616.56,617.0
...,...,...,...,...,...,...,...,...,...,...
37427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
isr = isr.dropna(subset=['DATE'])

In [158]:
isr.reset_index(drop=True)

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
0,0.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.0,616.56,617.0
1,1.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.0,616.56,617.0
2,2.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.0,616.56,617.0
3,3.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.0,616.56,617.0
4,4.0,06/05/2021,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.0,616.56,617.0
...,...,...,...,...,...,...,...,...,...,...
18630,18630.0,04-30-22,Apr-22,Rino Sandaran,J0280,NaN,S,1.0,1812.50,1812.5
18631,18631.0,04-30-22,Apr-22,Rino Sandaran,SET350,NaN,M,1.0,1512.50,1512.5
18632,18632.0,04-30-22,Apr-22,Rino Sandaran,SET350,NaN,L,1.0,1512.50,1512.5
18633,18633.0,04-30-22,Apr-22,Rino Sandaran,J0242,NaN,XXXL,1.0,1312.50,1312.5
18634,18634.0,04-30-22,Apr-22,Rino Sandaran,SET043,NaN,XXXL,1.0,1020.00,1020.0

In [159]:
isr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18635 entries, 0 to 18634
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      18635 non-null  float64
 1   DATE       18635 non-null  object
 2   Months     18635 non-null  object
 3   CUSTOMER   18635 non-null  object
 4   Style      18635 non-null  object
 5   SKU        17218 non-null  object
 6   Size       18635 non-null  object
 7   PCS        18635 non-null  float64
 8   RATE       18635 non-null  float64
 9   GROSS AMT  18635 non-null  float64
dtypes: float64(4), object(6)
memory usage: 1.6+ MB

In [160]:
isr_sku = isr.copy()

In [161]:
for i in range(isr_sku['SKU'].shape[0]):
    if pd.isna(isr_sku['SKU'][i]):
        isr_sku.loc[i, 'SKU'] = isr_sku.loc[i, 'Style']

In [162]:
isr_sku.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18635 entries, 0 to 18634
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      18635 non-null  float64
 1   DATE       18635 non-null  object
 2   Months     18635 non-null  object
 3   CUSTOMER   18635 non-null  object
 4   Style      18635 non-null  object
 5   SKU        18635 non-null  object
 6   Size       18635 non-null  object
 7   PCS        18635 non-null  float64
 8   RATE       18635 non-null  float64
 9   GROSS AMT  18635 non-null  float64
dtypes: float64(4), object(6)
memory usage: 2.1+ MB

In [163]:
isr_sku['SKU'].isna().sum()

0

In [164]:
isr = isr_sku

### Date

In [188]:
isrd = isr.copy()

In [189]:
type(isrd['DATE'][0])

str

In [190]:
isrd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18635 entries, 0 to 18634
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      18635 non-null  float64
 1   DATE       18635 non-null  object
 2   Months     18635 non-null  object
 3   CUSTOMER   18635 non-null  object
 4   Style      18635 non-null  object
 5   SKU        18635 non-null  object
 6   Size       18635 non-null  object
 7   PCS        18635 non-null  float64
 8   RATE       18635 non-null  float64
 9   GROSS AMT  18635 non-null  float64
dtypes: float64(4), object(6)
memory usage: 2.1+ MB

In [191]:
isrd['DATE'] = isr['DATE'].str.replace(r"\s+", "", regex=True)

In [192]:
isrd['DATE'] = isrd['DATE'].str.strip()

In [193]:
isrd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18635 entries, 0 to 18634
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      18635 non-null  float64
 1   DATE       18635 non-null  object
 2   Months     18635 non-null  object
 3   CUSTOMER   18635 non-null  object
 4   Style      18635 non-null  object
 5   SKU        18635 non-null  object
 6   Size       18635 non-null  object
 7   PCS        18635 non-null  float64
 8   RATE       18635 non-null  float64
 9   GROSS AMT  18635 non-null  float64
dtypes: float64(4), object(6)
memory usage: 2.1+ MB

In [194]:
#isrd['DATE'] = pd.to_datetime(isrd['DATE'], errors='coerce', infer_datetime_format=True)
#isrd.info()

In [195]:
isrd['DATE'].sample(30)

265        06-23-21
9209       02-22-22
1979     08/04/2021
210        06-18-21
13866    02/05/2022
1044     07/09/2021
14620      02-21-22
6859       11-27-21
9280       02-23-22
10092    03/09/2022
14806      02-22-22
16825      03-25-22
17799      04-14-22
1986     08/04/2021
14745      02-22-22
11069    10/12/2021
14668      02-22-22
1893       07-30-21
12791      12-13-21
3375       09-14-21
15488    03/03/2022
14565      02-21-22
17685    04/08/2022
11626      10-23-21
12832      12-14-21
18000      04-21-22
7503     01/01/2022
10565    10/05/2021
12528      11-23-21
2891       08-25-21
Name: DATE, dtype: object

In [196]:
isrd['DATE'].isna().sum()

0

In [197]:
isrd['DATE'].info()

<class 'pandas.core.series.Series'>
Index: 18635 entries, 0 to 18634
Series name: DATE
Non-Null Count  Dtype
--------------  -----
18635 non-null  object
dtypes: object(1)
memory usage: 807.2+ KB

In [198]:
isrd['DATE'] = isrd['DATE'].str.replace(r"-","/", regex=False)

In [199]:
isrd['DATE'].sample(30)

15133      02/25/22
12139      11/16/21
8070     02/05/2022
13516      01/25/22
5138     10/08/2021
12948      12/15/21
126      06/11/2021
16637      03/23/22
15033      02/24/22
11934    11/03/2021
17551    04/06/2022
8040       01/31/22
2511       08/15/21
4903     10/05/2021
5678       10/20/21
13055      12/24/21
833      07/09/2021
2119     08/04/2021
14907      02/22/22
4851     10/05/2021
5548       10/15/21
9686       02/26/22
18339    05/06/2022
16010    03/03/2022
6963     12/02/2021
17708    04/08/2022
13285    01/04/2022
16643      03/23/22
16214    03/09/2022
10240    10/01/2021
Name: DATE, dtype: object

In [207]:
len(isrd['DATE'][12947])

8

In [200]:
#isrd['DATE'] = pd.to_datetime(isrd['DATE'], errors='coerce', infer_datetime_format=True) #Another failure...
#isrd.info()

I was trying to avoid this as it wouldn't work in many situations, and I wanted to figure out how to really fix it, but these are all dates from this century, no silly 1900's dates, so I can just add in the '20', convert it and be done. What could possibli go wrong?

In [ ]:
#for i in range(isrd['DATE'].shape[0]):
 #   if len(isrd['DATE'][i]) == 8:
  #      isrd['DATE'][i] = isrd['DATE'][i][:-2] + '20' + isrd['DATE'][i][-2:]
#Ah of course, iut can freeze up the whole dang thing

In [209]:
for i in range(isrd.shape[0]):
    if len(isrd.loc[i, 'DATE']) == 8:
        d = isrd.loc[i, 'DATE']
        isrd.loc[i, 'DATE'] = d[:-2] + '20' + d[-2:]

In [210]:
isrd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18635 entries, 0 to 18634
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      18635 non-null  float64
 1   DATE       18635 non-null  object
 2   Months     18635 non-null  object
 3   CUSTOMER   18635 non-null  object
 4   Style      18635 non-null  object
 5   SKU        18635 non-null  object
 6   Size       18635 non-null  object
 7   PCS        18635 non-null  float64
 8   RATE       18635 non-null  float64
 9   GROSS AMT  18635 non-null  float64
dtypes: float64(4), object(6)
memory usage: 2.1+ MB

In [211]:
isrd['DATE'].sample(30)

14198    02/16/2022
18278    04/29/2022
10739    10/06/2021
4130     09/18/2021
5347     10/11/2021
6148     11/03/2021
1892     07/30/2021
11111    10/12/2021
17037    03/26/2022
9888     03/03/2022
16319    03/10/2022
2134     08/04/2021
12200    11/19/2021
11516    10/21/2021
7578     01/04/2022
2119     08/04/2021
12974    12/16/2021
4535     10/01/2021
6630     11/22/2021
2049     08/04/2021
16106    03/03/2022
15273    02/26/2022
12762    12/09/2021
2058     08/04/2021
36       06/08/2021
5052     10/06/2021
139      06/15/2021
8381     02/10/2022
12790    12/13/2021
2042     08/04/2021
Name: DATE, dtype: object

In [212]:
isrd['DATE'] = pd.to_datetime(isrd['DATE'], format='%m/%d/%Y')
isrd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18635 entries, 0 to 18634
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      18635 non-null  float64
 1   DATE       18635 non-null  datetime64[ns]
 2   Months     18635 non-null  object
 3   CUSTOMER   18635 non-null  object
 4   Style      18635 non-null  object
 5   SKU        18635 non-null  object
 6   Size       18635 non-null  object
 7   PCS        18635 non-null  float64
 8   RATE       18635 non-null  float64
 9   GROSS AMT  18635 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 2.1+ MB

In [213]:
isrd.sample(30)

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
3168,3168.0,2021-09-14,Sep-21,RIVAAN LLC,JNE3428,JNE3428-KR-S,S,1.0,494.00,469.0
10952,10952.0,2021-10-08,Oct-21,ARKH FASHION BOUTIQUE PTY LTD,SET200,SET200-KR-NP-L,L,1.0,894.00,894.0
16001,16001.0,2022-03-03,Mar-22,SHILPI KUMARI,SET044,SET044-KR-NP-XL,XL,1.0,687.50,653.0
11525,11525.0,2021-10-21,Oct-21,MULBERRIES BOUTIQUE,J0129,J0129-SET-M,M,1.0,1213.00,1213.0
18524,18524.0,2022-05-10,May-22,Vinodha,MEN5025,MEN5025,S,1.0,605.00,605.0
793,793.0,2021-07-09,Jul-21,COTTON CLOSET LTD,SET131,SET131-KR-NP-XXL,XXL,1.0,647.19,589.0
2923,2923.0,2021-08-25,Aug-21,BINCY SKARIA,SET242,SET242-KR-PP-L,L,1.0,763.33,748.0
14187,14187.0,2022-02-14,Feb-22,SINDHU,SET331,SET331-KR-NP-XL,XL,1.0,650.00,650.0
10855,10855.0,2021-10-08,Oct-21,KALAIVANI PERMALU,JNE3687,JNE3687-TU-S,S,1.0,450.00,450.0
1239,1239.0,2021-07-09,Jul-21,COTTON CLOSET LTD,JNE3455,JNE3455-KR-XXL,XXL,1.0,356.89,325.0
5839,5839.0,2021-10-21,Oct-21,MULBERRIES BOUTIQUE,J0277,J0277-SKD-M,M,2.0,1758.00,3516.0
6942,6942.0,2021-11-29,Nov-21,MANGROWTEE SOOKDEB,J0152,J0152-DR-S,S,2.0,888.00,1776.0
7955,7955.0,2022-01-29,Jan-22,MULBERRIES BOUTIQUE,J0002,J0002-SKD-XXL,XXL,1.0,1350.00,1350.0
12621,12621.0,2021-11-29,Nov-21,THANA MARIMUTHU,SET345,SET345-KR-NP-M,M,1.0,688.00,688.0
14664,14664.0,2022-02-22,Feb-22,ETHNIC WEAVES FASHION LLC,J0120,J0120-TP-M,M,1.0,387.50,368.0
1959,1959.0,2021-07-31,Jul-21,REGA,JNE2009,JNE2009-KR-310-S,S,1.0,408.75,409.0
10947,10947.0,2021-10-08,Oct-21,ARKH FASHION BOUTIQUE PTY LTD,SET269,SET269-KR-NP-XL,XL,1.0,969.00,969.0
14882,14882.0,2022-02-22,Feb-22,ETHNIC WEAVES FASHION LLC,JNE3744,JNE3744-TU-XXXL,XXXL,1.0,562.50,534.0
6400,6400.0,2021-11-16,Nov-21,MULBERRIES BOUTIQUE,J0024,J0024-KR-S,S,1.0,537.50,538.0
17872,17872.0,2022-04-16,Apr-22,Priyanka Gupta,SET396,SET396,L,1.0,1050.00,1050.0
3647,3647.0,2021-09-14,Sep-21,FUSION FASHIONS CORP.,JNE3678,JNE3678-TU-XL,XL,1.0,431.00,418.0
17373,17373.0,2022-04-05,Apr-22,MULBERRIES BOUTIQUE,J0280,J0280,L,1.0,1795.00,1795.0
5793,5793.0,2021-10-21,Oct-21,MULBERRIES BOUTIQUE,J0090,J0090-TP-S,S,1.0,741.00,741.0
11975,11975.0,2021-11-12,Nov-21,VISHA DEVAN,JNE3670,JNE3670-TU-XL,XL,2.0,537.50,1075.0
12212,12212.0,2021-11-19,Nov-21,TANUJ UPPAL,J0296,J0296-DR-S,S,1.0,688.00,667.0
12826,12826.0,2021-12-13,Dec-21,REMMIA MATHEWS,SET264,SET264-KR-NP-L,L,1.0,975.00,975.0
16894,16894.0,2022-03-26,Mar-22,BHANU SALEINE NAUNITHAM,JNE3612,JNE3612-KR-M,M,3.0,475.00,1354.0
4227,4227.0,2021-09-21,Sep-21,M/S CHARISMAKURTIES(DUBAI),J0118,J0118-TP-XXL,XXL,2.0,390.00,780.0
13496,13496.0,2022-01-25,Jan-22,BISSY SKARIA,JNE3710,JNE3710-DR-L,L,1.0,650.00,650.0
5649,5649.0,2021-10-18,Oct-21,GEETHA RAJA GOPAL,BL087,BL087-XL,XL,1.0,400.00,400.0

In [214]:
isr = isrd.copy()

In [216]:
isr = isr.drop(columns=['Months','Style'])

In [218]:
isr = isr.drop(columns='Size')

In [219]:
isr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18635 entries, 0 to 18634
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      18635 non-null  float64
 1   DATE       18635 non-null  datetime64[ns]
 2   CUSTOMER   18635 non-null  object
 3   SKU        18635 non-null  object
 4   PCS        18635 non-null  float64
 5   RATE       18635 non-null  float64
 6   GROSS AMT  18635 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 1.6+ MB

In [223]:
import pymysql
from sqlalchemy import create_engine

In [224]:
username = 'root'
password = 'brandn3w'
host = 'localhost'         # or the {{c1::IP address}}
port = 3306                # default MySQL {{c1::port}} #Note: Better as an integer, everything else is strings
database = 'ecommerce'     # your {{c1::DB name}}

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

In [225]:
isr.to_sql('international_sales', con=engine, if_exists='replace', index=False)

18635